---
layout: home
permalink: /cv
title: CV
---

<div class="ui container" id="printable">
  <div class="ui one column grid">
    <div class="row">
      <div class="column">
        <a href="/assets/cv-en.pdf" class="ui inverted download primary button">Document designed in 2010</a>
      </div>
    </div>
  </div>
  <div class="ui divider"></div>
  <div class="ui one column grid">
    <div class="row">
      <div class="column">
        <p>If you print this page, you should only see active tab contents in the print preview</p>
      </div>
    </div>
  </div>
  <div class="ui inverted top attached tabular menu">
    <a class="active item" data-tab="cards">Cards</a>
    <a class="item" data-tab="timeline">Timeline</a>
    <a class="item" data-tab="tags">Tags</a>
  </div>
  <div class="ui tertiary bottom attached active tab segment" data-tab="cards">
    <div class="ui two doubling cards">
      {% if site.data.cv.contact.size > 0 %}
      <div class="card">
        <div class="content">
          <div class="header">Contact</div>
          <div class="description">
            {% for contact in site.data.cv.contact %}
            <p><strong>{{ contact.type }}</strong>: {{ contact.value }}</p>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endif %}
      {% if site.data.cv.about.size > 0 %}
      <div class="card">
        <div class="content">
          <div class="header">About</div>
          <div class="description">
            {{ site.data.cv.about | markdownify }}
          </div>
        </div>
      </div>
      {% endif %}
      {% for work in site.data.cv.work %}
      <div class="card">
        <div class="content">
          <div class="header">Work - {{ work.place }}</div>
          <div class="meta">
            <span>{{ work.position }}</span>
            <span>{{ work.start }} - {{ work.end }}</span>
          </div>
          <div class="description">
            {{ work.description | markdownify }}
          </div>
        </div>
        <div class="extra content">
          {{ work.tags | array_to_sentence_string }}
        </div>
      </div>
      {% endfor %}
      {% for education in site.data.cv.education %}
      <div class="card">
        <div class="content">
          <div class="header">Education - {{ education.name }}</div>
          <div class="meta">
            <span>{{ education.school }}</span>
            <span>{{ education.degree }}</span>
            <span>{{ education.start }} - {{ education.end }}</span>
          </div>
          <div class="description">
            {% if education.notes.size > 0 %}
            <p><strong>Additional notes</strong>: {{ education.notes }}</p>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
      <div class="card">
        <div class="content">
          <div class="header">Technical skills</div>
          <div class="description">
            {% if site.data.cv.skills.languages.size > 0 %}
            <p><strong>Languages</strong>: {{ site.data.cv.skills.languages | array_to_sentence_string }}</p>
            {% endif %}
            {% if site.data.cv.skills.libraries.size > 0 %}
            <p><strong>Libraries</strong>: {{ site.data.cv.skills.libraries | array_to_sentence_string }}</p>
            {% endif %}
            {% if site.data.cv.skills.tools.size > 0 %}
            <p><strong>Tools/Utils</strong>: {{ site.data.cv.skills.tools | array_to_sentence_string }}</p>
            {% endif %}
            {% if site.data.cv.skills.vcs.size > 0 %}
            <p><strong>VCS</strong>: {{ site.data.cv.skills.vcs | array_to_sentence_string }}</p>
            {% endif %}
          </div>
        </div>
      </div>
      {% for cc in site.data.cv.classes %}
      <div class="card">
        <div class="content">
          <div class="header">Classes and certificates - {{ cc.title }}</div>
          <div class="meta">
            <span>{{ cc.start }} - {{ cc.end }}</span>
          </div>
          <div class="description">
            <p><strong>Organiser</strong>: {{ cc.organiser }}</p>
            {% if cc.notes.size > 0 %}
            <p><strong>Additional notes</strong>: {{ cc.notes }}</p>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
      <div class="card">
        <div class="content">
          <div class="header">Hobbies</div>
          <div class="description">
            {{ site.data.cv.hobbies | markdownify }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui tertiary bottom attached tab segment" data-tab="timeline">
    <section id="cd-timeline">
      {% if site.data.cv.contact.size > 0 %}
      <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-picture">
        </div>
        <div class="cd-timeline-content">
          <h2>Contact</h2>
          {% for contact in site.data.cv.contact %}
          <p><strong>{{ contact.type }}</strong>: {{ contact.value }}</p>
          {% endfor %}
          <span class="cd-date hidden">{{ site.time | date_to_string }}</span>
        </div>
      </div>
      {% endif %}
      {% if site.data.cv.about.size > 0 %}
      <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-movie">
        </div>
        <div class="cd-timeline-content">
          <h2>About</h2>
          {{ site.data.cv.about | markdownify }}
          <span class="cd-date hidden">{{ site.time | date_to_string }}</span>
        </div>
      </div>
      {% endif %}
      {% for work in site.data.cv.work %}
      <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-location">
        </div>
        <div class="cd-timeline-content">
          <h2>Work - {{ work.place }}<span>{{ work.position }}</span></h2>
          {{ work.description | markdownify }}
          <p><strong>Tags</strong>: {{ work.tags | array_to_sentence_string }}</p>
          <span class="cd-date">{{ work.start }} - {{ work.end }}</span>
        </div>
      </div>
      {% endfor %}
      {% for education in site.data.cv.education %}
      <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-location">
        </div>
        <div class="cd-timeline-content">
          <h2>Education - {{ education.name }}<span>{{ education.school }} - {{ education.degree }}</span></h2>
          {% if education.notes.size > 0 %}
          <p><strong>Additional notes</strong>: {{ education.notes }}</p>
          {% endif %}
          <span class="cd-date">{{ education.start }} - {{ education.end }}</span>
        </div>
      </div>
      {% endfor %}
      <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-movie">
        </div>
        <div class="cd-timeline-content">
          <h2>Technical skills</h2>
          {% if site.data.cv.skills.languages.size > 0 %}
          <p><strong>Languages</strong>: {{ site.data.cv.skills.languages | array_to_sentence_string }}</p>
          {% endif %}
          {% if site.data.cv.skills.libraries.size > 0 %}
          <p><strong>Libraries</strong>: {{ site.data.cv.skills.libraries | array_to_sentence_string }}</p>
          {% endif %}
          {% if site.data.cv.skills.tools.size > 0 %}
          <p><strong>Tools/Utils</strong>: {{ site.data.cv.skills.tools | array_to_sentence_string }}</p>
          {% endif %}
          {% if site.data.cv.skills.vcs.size > 0 %}
          <p><strong>VCS</strong>: {{ site.data.cv.skills.vcs | array_to_sentence_string }}</p>
          {% endif %}
          <span class="cd-date hidden">{{ site.time | date_to_string }}</span>
        </div>
      </div>
      {% for cc in site.data.cv.classes %}
      <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-location">
        </div>
        <div class="cd-timeline-content">
          <h2>Classes and certificates - {{ cc.title }}</h2>
          <p><strong>Organiser</strong>: {{ cc.organiser }}</p>
          {% if cc.notes.size > 0 %}
          <p><strong>Additional notes</strong>: {{ cc.notes }}</p>
          {% endif %}
          <span class="cd-date">{{ cc.start }} - {{ cc.end }}</span>
        </div>
      </div>
      {% endfor %}
      <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-movie">
        </div>
        <div class="cd-timeline-content">
          <h2>Hobbies</h2>
          {{ site.data.cv.hobbies | markdownify }}
          <span class="cd-date hidden">{{ site.time | date_to_string }}</span>
        </div>
      </div>
    </section>
  </div>
  <div class="ui tertiary bottom attached tab segment" data-tab="tags">
    <p>Although only few of features are mentioned throughout the work instances due to countless tools and abilities in use and, of course, repetition, it is nice to have some data to play around. Here is the tag cloud</p>
    <p>Tag count transformation: each half year increments occurrence by 1</p>
    <p>P.S. Bear in mind this is only from work tags. Some of technical features are applied randomly at any time as this page using jekyll, for instance</p>
    <div id="tag-cloud-work" class="segment"></div>
    <p>Work + projects:</p>
    <div id="tag-cloud-work-projects" class="segment"></div>
  </div>
</div>

<script type="text/javascript">
$(function() {
  var workTags = [
    {% for work in site.data.cv.work %}
      {% assign year_start = "01-" | append: work.start | date: "%Y" %}
      {% assign month_start = "01-" | append: work.start | date: "%m" %}
      {% if work.end == "now" %}
        {% assign year_end = site.time | date: "%Y" %}
        {% assign month_end = site.time | date: "%m" %}
      {% else %}
        {% assign year_end = "01-" | append: work.end | date: "%Y" %}
        {% assign month_end = "01-" | append: work.end | date: "%m" %}
      {% endif %}
      {% assign period = year_end | minus: year_start | times: 12 | plus: month_end | minus: month_start | plus: 0.0 | divided_by: 6 | ceil %}
      {% for tag in work.tags %}
        {% for i in (1..period) %}
        "{{ tag }}",
        {% endfor %}
      {% endfor %}
    {% endfor %}
    ""
  ];
  var projectTags = [
    {% for project in site.projects %}
      {% for tag in project.tags %}
        "{{ tag }}",
      {% endfor %}
    {% endfor %}
    ""
  ];

  var words = function(tags) {
    var counted = tags.reduce(function(a, b) {
      if (b != "") {
        a[b] = a[b] ? a[b] + 1 : 1;
      }

      return a;
    }, {});

    var w = [];

    for (key in counted) {
      if (counted.hasOwnProperty(key)) w.push({text: key, weight: counted[key]});
    }

    return w;
  };

  var colours = [
    "#FFBF00",//amber
//    "#FF9933",//deep saffron
    "#FF55A3",//brilliant rose
//    "#FF3800",//coquelicot
    "#FF2052",//awesome
    "#EF3038",//deep carmine pink
    "#AC1E44",//french wine
    "#9932CC",//dark orchid
    "#8DB600",//apple green
    "#6F00FF",//electric indigo
    "#568203",//avocado
    "#2E2D88",//cosmic cobalt
    "#03C03C",//dark pastel green
    "#000000"//black
  ];

  $('.menu .item').tab({
    onFirstLoad: function(data) {
      if (data == "tags") {
        $('#tag-cloud-work').jQCloud(words(workTags), {
          height: 400,
          autoResize: true,
          colors: colours
        });
        $('#tag-cloud-work-projects').jQCloud(words(workTags.concat(projectTags)), {
          height: 400,
          autoResize: true,
          colors: colours
        });
      }
    }
  });
});
</script>
