---
layout: home
permalink: /posts
title: Posts
---

{% for post in site.posts %}
<div class="card">
  <div class="card-content">
    <p class="title">{{ post.title }}</p>
    <p class="subtitle is-6"><strong>Tags</strong>: {{ post.tags | array_to_sentence_string }}</p>
    <div class="content">{{ post.excerpt | strip_html }}</div>
  </div>
  <footer class="card-footer">
    <a class="card-footer-item" href="{{ post.url }}">Read more</a>
    {% for source in post.sources %}<a class="card-footer-item" href="{{ source }}" target="_blank">Source</a>{% endfor %}
  </footer>
</div>
{% endfor %}
