---
layout: amp
permalink: /amp/posts
title: Posts
---

<div class="ui tertiary inverted very padded container segment">
  <div class="ui relaxed divided items">
    {% for post in site.posts %}
    <div class="item">
      <div class="middle aligned content">
        <div class="header">{{ post.title }}</div>
        <div class="meta">{{ post.tags | array_to_sentence_string }}</div>
        <div class="description">{{ post.excerpt | strip_html }}</div>
        <div class="extra">
          <div class="ui left floated">
            {% for source in post.sources %}<a class="ui primary button" href="{{ source }}" target="_blank">Source</a>{% endfor %}
            <a class="ui primary button" href="{{ post.url }}">Read more</a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
