<footer class="footer">
  <div class="content has-text-centered">
    <p>Compiled {{ site.time | date_to_long_string }}</p>
  </div>
</footer>

<script src="//cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
<script src="//cdn.anychart.com/releases/v8/js/anychart-tag-cloud.min.js"></script>

{% if page.path == "projects.html" %}
<script type="text/javascript" src="/assets/js/game-of-life.js"></script>
<script type="text/javascript" src="/assets/js/window-grid.js"></script>
{% endif %}
<script type="text/javascript">
document.addEventListener('DOMContentLoaded', () => {
  // Get all "navbar-burger" elements
  const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

  // Check if there are any navbar burgers
  if ($navbarBurgers.length > 0) {

    // Add a click event on each of them
    $navbarBurgers.forEach( el => {
      el.addEventListener('click', () => {

        // Get the target from the "data-target" attribute
        const target = el.dataset.target;
        const $target = document.getElementById(target);

        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        el.classList.toggle('is-active');
        $target.classList.toggle('is-active');

      });
    });
  }
  {% if page.path == "cv.html" %}
  let tabsWithContent = (function () {
    let tabs = document.querySelectorAll('.tabs li');
    let tabsContent = document.querySelectorAll('.tab-target');

    let deactvateAllTabs = function () {
      tabs.forEach(function (tab) {
        tab.classList.remove('is-active');
      });
    };

    let hideTabsContent = function () {
      tabsContent.forEach(function (tabContent) {
        tabContent.classList.add('is-hidden');
      });
    };

    let activateTabsContent = function (tab) {
      tabsContent[getIndex(tab)].classList.remove('is-hidden');
    };

    let getIndex = function (el) {
      return [...el.parentElement.children].indexOf(el);
    };

    tabs.forEach(function (tab) {
      tab.addEventListener('click', function () {
        deactvateAllTabs();
        hideTabsContent();
        tab.classList.add('is-active');
        activateTabsContent(tab);
      });
    })

    tabs[0].click();
  })();

  renderCvData();
  {% endif %}
});

function renderCvData() {
  var workTags = [
    {% for work in site.data.cv.work %}
      {% assign year_start = "01-" | append: work.start | date: "%Y" %}
      {% assign month_start = "01-" | append: work.start | date: "%m" %}
      {% if work.end == "now" %}
        {% assign year_end = site.time | date: "%Y" %}
        {% assign month_end = site.time | date: "%m" %}
      {% else %}
        {% assign year_end = "01-" | append: work.end | date: "%Y" %}
        {% assign month_end = "01-" | append: work.end | date: "%m" %}
      {% endif %}
      {% if work.end == "now" %}
        {% assign period = year_end | minus: year_start | times: 12 | plus: month_end | minus: month_start | plus: 0.0 | divided_by: 6 | ceil %}
      {% else %}
        {% assign period = year_end | minus: year_start | at_most: 1 | times: 12 | plus: month_end | minus: month_start | plus: 0.0 | divided_by: 6 | ceil %}
      {% endif %}
      {% assign amended_period = %}
      {% for tag in work.tags %}
        {% for i in (1..period) %}
        "{{ tag }}",
        {% endfor %}
      {% endfor %}
    {% endfor %}
    ""
  ];
  var projectTags = [
    {% for project in site.projects %}
      {% for tag in project.tags %}
        "{{ tag }}",
      {% endfor %}
    {% endfor %}
    ""
  ];
  var postsTags = [
    {% for post in site.posts %}
      {% for tag in post.tags %}
        "{{ tag }}",
      {% endfor %}
    {% endfor %}
    ""
  ];

  var categories = {
    // cv
    "SQL": "language",
    "MS Office": "tool",
    "ABBYY FineReader": "tool",
    "PHP5": "language",
    "CSS": "language",
    "JavaScript": "language",
    "SVN": "vcs",
    "ZF1": "library",
    "PHPUnit": "tool",
    "xFrame": "library",
    "Phing": "tool",
    "jQuery": "library",
    "XSTL": "language",
    "SASS": "tool",
    "BackboneJS": "library",
    "Twig": "library",
    "LESS": "tool",
    "Twitter Bootstrap": "library",
    "Doctrine": "library",
    "Smarty": "library",
    "composer": "tool",
    "Git": "vcs",
    "Scala": "language",
    "sbt": "tool",
    "Akka": "library",
    "API": "principal",
    "BDD": "principal",
    "micro-service": "principal",
    "ansible": "tool",
    "Team lead": "principal",
    "Java": "language",
    "Spring Boot": "library",
    "gradle": "tool",
    "terraform": "tool",
    "maven": "tool",
    "kafka": "tool",
    "Docker": "tool",
    "React": "library",
    "zeebe": "tool",
    // posts
    "PHP7": "language",
    "php-fpm": "tool",
    "nginx": "tool",
    "Semantic UI": "tool",
    "mobile": "principal",
    "ssl": "principal",
    "self-sign": "principal",
    "windows": "OS",
    "macOS": "OS",
    "linux": "OS",
    "hobby": "personal",
    "music": "personal",
    "Bulma": "tool",
    // projects
    "wordpress": "tool",
    "markdown": "language",
    "jekyll": "tool",
    "github": "tool",
    "blog": "principal",
    "OpenCart": "tool",
    "e-commerce": "principal",
    "fs2": "library",
    "Wix": "principal"
  };

  var words = function(tags) {
    var counted = tags.reduce(function(a, b) {
      if (b != "") {
        a[b] = a[b] ? a[b] + 1 : 1;
      }

      return a;
    }, {});

    var w = [];

    for (var key in counted) {
      if (counted.hasOwnProperty(key)) w.push({x: key, value: counted[key], category: categories[key]});
    }

    return w;
  };

  anychart.onDocumentReady(function() {
    var chart = anychart.tagCloud(words(workTags));
    chart.title('Work tags');
    chart.angles([0]);
    chart.colorRange(true);
    chart.container('cv-tag-cloud-work');
    chart.draw();
    chart = anychart.tagCloud(words(workTags.concat(projectTags)));
    chart.title('Work + Project tags');
    chart.angles([0]);
    chart.colorRange(true);
    chart.container('cv-tag-cloud-work-projects');
    chart.draw();
    chart = anychart.tagCloud(words(workTags.concat(projectTags).concat(postsTags)));
    chart.title('Work + Project + Posts tags');
    chart.angles([0]);
    chart.colorRange(true);
    chart.container('cv-tag-cloud-work-projects-posts');
    chart.draw();
  });
}
</script>
