<footer class="footer">
  <div class="content has-text-centered">
    <p>Compiled {{ site.time | date_to_long_string }}</p>
  </div>
</footer>

<script src="//cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
<script src="//cdn.anychart.com/releases/v8/js/anychart-tag-cloud.min.js"></script>

{% if page.path == "projects.html" %}<script type="text/javascript" src="/assets/js/game-of-life.js"></script>{% endif %}
<script type="text/javascript">
document.addEventListener('DOMContentLoaded', () => {
  // Get all "navbar-burger" elements
  const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

  // Check if there are any navbar burgers
  if ($navbarBurgers.length > 0) {

    // Add a click event on each of them
    $navbarBurgers.forEach( el => {
      el.addEventListener('click', () => {

        // Get the target from the "data-target" attribute
        const target = el.dataset.target;
        const $target = document.getElementById(target);

        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        el.classList.toggle('is-active');
        $target.classList.toggle('is-active');

      });
    });
  }

  document.querySelectorAll('.tabs ul li a').forEach(el => {
    el.addEventListener('click', () => {
      const target = el.dataset.target;
      const $target = document.getElementById(target);

      document.querySelectorAll('.tabs ul li.is-active a').forEach(el => document.getElementById(el.dataset.target).classList.toggle('is-hidden'));
      document.querySelectorAll('.tabs ul li.is-active').forEach(el => el.classList.toggle('is-active'));

      el.parentNode.classList.toggle('is-active');
      $target.classList.toString('is-hidden');
    });
  });
});
{% if page.path == "cv.html" %}
function renderCvData() {
  var workTags = [
    {% for work in site.data.cv.work %}
      {% assign year_start = "01-" | append: work.start | date: "%Y" %}
      {% assign month_start = "01-" | append: work.start | date: "%m" %}
      {% if work.end == "now" %}
        {% assign year_end = site.time | date: "%Y" %}
        {% assign month_end = site.time | date: "%m" %}
      {% else %}
        {% assign year_end = "01-" | append: work.end | date: "%Y" %}
        {% assign month_end = "01-" | append: work.end | date: "%m" %}
      {% endif %}
      {% if work.end == "now" %}
        {% assign period = year_end | minus: year_start | times: 12 | plus: month_end | minus: month_start | plus: 0.0 | divided_by: 6 | ceil %}
      {% else %}
        {% assign period = year_end | minus: year_start | at_most: 5 | times: 12 | plus: month_end | minus: month_start | plus: 0.0 | divided_by: 6 | ceil %}
      {% endif %}
      {% assign amended_period = %}
      {% for tag in work.tags %}
        {% for i in (1..period) %}
        "{{ tag }}",
        {% endfor %}
      {% endfor %}
    {% endfor %}
    ""
  ];
  var projectTags = [
    {% for project in site.projects %}
      {% for tag in project.tags %}
        "{{ tag }}",
      {% endfor %}
    {% endfor %}
    ""
  ];
  var postsTags = [
    {% for post in site.posts %}
      {% for tag in post.tags %}
        "{{ tag }}",
      {% endfor %}
    {% endfor %}
    ""
  ];

  var categories = {
    // cv
    "SQL": "language",
    "MS Office": "tool",
    "ABBYY FineReader": "tool",
    "PHP5": "language",
    "CSS": "language",
    "JavaScript": "language",
    "SVN": "vcs",
    "ZF1": "library",
    "PHPUnit": "tool",
    "xFrame": "library",
    "Phing": "tool",
    "jQuery": "library",
    "XSTL": "language",
    "SASS": "tool",
    "BackboneJS": "library",
    "Twig": "library",
    "LESS": "tool",
    "Twitter Bootstrap": "library",
    "Doctrine": "library",
    "Smarty": "library",
    "composer": "tool",
    "Git": "tool",
    "Scala": "language",
    "sbt": "tool",
    "Akka": "library",
    "API": "principal",
    "BDD": "principal",
    "micro-service": "principal",
    "ansible": "tool",
    "Team lead": "principal",
    "Java": "language",
    "Spring Boot": "library",
    "gradle": "tool",
    "terraform": "tool",
    "maven": "tool",
    "kafka": "tool",
    // posts
    "PHP7": "language",
    "php-fpm": "tool",
    "nginx": "tool",
    "Semantic UI": "tool",
    "mobile": "principal",
    "ssl": "principal",
    "self-sign": "principal",
    "windows": "OS",
    "macOS": "OS",
    "linux": "OS",
    "hobby": "personal",
    "music": "personal",
    // projects
    "wordpress": "tool",
    "markdown": "language",
    "jekyll": "tool",
    "github": "tool",
    "blog": "principal",
    "OpenCart": "tool",
    "e-commerce": "principal",
    "fs2": "library",
    "Wix": "principal"
  };

  var words = function(tags) {
    var counted = tags.reduce(function(a, b) {
      if (b != "") {
        a[b] = a[b] ? a[b] + 1 : 1;
      }

      return a;
    }, {});

    var w = [];

    for (var key in counted) {
      if (counted.hasOwnProperty(key)) w.push({x: key, value: counted[key], category: categories[key]});
    }

    return w;
  };

  $('.menu .item').tab({
    onFirstLoad: function(data) {
      if (data == "tags") {
        anychart.onDocumentReady(function() {
          var chart = anychart.tagCloud(words(workTags));
          chart.title('Work tags');
          chart.angles([0]);
          chart.colorRange(true);
          chart.container('tag-cloud-work');
          chart.draw();
          chart = anychart.tagCloud(words(workTags.concat(projectTags)));
          chart.title('Work + Project tags');
          chart.angles([0]);
          chart.colorRange(true);
          chart.container('tag-cloud-work-projects');
          chart.draw();
          chart = anychart.tagCloud(words(workTags.concat(projectTags).concat(postsTags)));
          chart.title('Work + Project + Posts tags');
          chart.angles([0]);
          chart.colorRange(true);
          chart.container('tag-cloud-work-projects-posts');
          chart.draw();
        });
      }
    }
  });
}
{% endif %}

var intervalSources = setInterval(function() {
  if (window.$) {
    loadScript('/assets/js/semantic.min.js');
    clearInterval(intervalSources);
  }
}, 100);
var intervalUI = setInterval(function() {
  if (window.$ && $().accordion) {
    $('.ui.accordion').accordion();
  }
}, 100);
{% if page.path == "cv.html" %}
var intervalData = setInterval(function() {
  if (window.$ && $().tab) {
    renderCvData();
    clearInterval(intervalData);
  }
}, 100);
{% endif %}
</script>
