<div class="ui one column stackable grid">
  <div class="column">
    <div class="ui inverted right floated segment">Compiled {{ site.time | date_to_long_string }}</div>
  </div>
</div>

<script type="text/javascript">
{% if page.path == "cv.html" %}
function renderCvData() {
  var workTags = [
    {% for work in site.data.cv.work %}
      {% assign year_start = "01-" | append: work.start | date: "%Y" %}
      {% assign month_start = "01-" | append: work.start | date: "%m" %}
      {% if work.end == "now" %}
        {% assign year_end = site.time | date: "%Y" %}
        {% assign month_end = site.time | date: "%m" %}
      {% else %}
        {% assign year_end = "01-" | append: work.end | date: "%Y" %}
        {% assign month_end = "01-" | append: work.end | date: "%m" %}
      {% endif %}
      {% assign period = year_end | minus: year_start | times: 12 | plus: month_end | minus: month_start | plus: 0.0 | divided_by: 6 | ceil %}
      {% for tag in work.tags %}
        {% for i in (1..period) %}
        "{{ tag }}",
        {% endfor %}
      {% endfor %}
    {% endfor %}
    ""
  ];
  var projectTags = [
    {% for project in site.projects %}
      {% for tag in project.tags %}
        "{{ tag }}",
      {% endfor %}
    {% endfor %}
    ""
  ];
  var postsTags = [
    {% for post in site.posts %}
      {% for tag in post.tags %}
        "{{ tag }}",
      {% endfor %}
    {% endfor %}
    ""
  ];

  var words = function(tags) {
    var counted = tags.reduce(function(a, b) {
      if (b != "") {
        a[b] = a[b] ? a[b] + 1 : 1;
      }

      return a;
    }, {});

    var w = [];

    for (key in counted) {
      if (counted.hasOwnProperty(key)) w.push({text: key, weight: counted[key]});
    }

    return w;
  };

  var colours = [
    "#FFBF00",//amber
//    "#FF9933",//deep saffron
    "#FF55A3",//brilliant rose
//    "#FF3800",//coquelicot
    "#FF2052",//awesome
    "#EF3038",//deep carmine pink
    "#AC1E44",//french wine
    "#9932CC",//dark orchid
    "#8DB600",//apple green
    "#6F00FF",//electric indigo
    "#568203",//avocado
    "#2E2D88",//cosmic cobalt
    "#03C03C",//dark pastel green
    "#000000"//black
  ];

  $('.menu .item').tab({
    onFirstLoad: function(data) {
      if (data == "tags") {
        $('#tag-cloud-work').jQCloud(words(workTags), {
          height: 400,
          autoResize: true,
          colors: colours
        });
        $('#tag-cloud-work-projects').jQCloud(words(workTags.concat(projectTags)), {
          height: 400,
          autoResize: true,
          colors: colours
        });
        $('#tag-cloud-work-projects-posts').jQCloud(words(workTags.concat(projectTags).concat(postsTags)), {
          height: 400,
          autoResize: true,
          colors: colours
        });
      }
    }
  });
}
{% endif %}

var intervalSources = setInterval(function() {
  if (window.$) {
    loadScript('/assets/semantic.min.js');
    {% if page.path == "cv.html" %}
    loadScript('/assets/jqcloud.min.js');
    {% endif %}
    clearInterval(intervalSources);
  }
}, 100);
{% if page.path == "cv.html" %}
var intervalData = setInterval(function() {
  if (window.$ && $().tab && $().jQCloud) {
    renderCvData();
    clearInterval(intervalData);
  }
}, 100);
{% endif %}
</script>
