<nav class="navbar is-dark is-spaced" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <!-- <a class="navbar-item" href="/">
      <img src="/assets/favicon.ico" alt="icon" />
    </a>
 -->
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="main-menu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="main-menu" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item{% if include.active == "index.html" %} is-active{% endif %}" href="{% link index.html %}">Home</a>
      <a class="navbar-item{% if include.active == "cv.html" %} is-active{% endif %}" href="{% link cv.html %}">CV</a>
      <a class="navbar-item{% if include.active == "projects.html" %} is-active{% endif %}" href="{% link projects.html %}">Projects</a>
      <a class="navbar-item{% if include.active == "posts.html" or include.activeExtra == "_post" %} is-active{% endif %}" href="{% link posts.html %}">Posts</a>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary" href="//github.com/doncem" target="_blank">GitHub</a>
        </div>
      </div>
    </div>
  </div>
</nav>
