<!doctype html>
<html>
  <head>
    {% include header.html %}
    {% if page.path == "cv.html" %}
    <script type="text/javascript" src="/assets/jqcloud.min.js"></script>
    <link rel="stylesheet" href="/assets/vertical-timeline.css" />
    <link rel="stylesheet" href="/assets/jqcloud.min.css" />
    <style type="text/css">
      @media print {
        body * { visibility: hidden; }
        #printable .active.tab, #printable .active.tab * { visibility: visible; border: none; }
        #printable .active.tab { position: absolute; left: 0; top: 0; }
      }
    </style>
    {% endif %}
  </head>
<body>
  <div class="ui inverted vertical segment">
    {% include menu.html active=page.path %}

    {{ content }}

    {% include footer.html %}

  </div>
</body>
</html>
