<!doctype html>
<html>
  <head>
    <!-- Google Optimize
    <style>.async-hide { opacity: 0 !important} </style>
    <script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
    h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
    (a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
    })(window,document.documentElement,'async-hide','dataLayer',4000,
    {'GTM-KP778F7':true});</script>
    <!-- Google Optimize end / Google Analytics -->
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-T6X7XMCGBZ"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-T6X7XMCGBZ');
    </script>
    <!-- Google tag end -->
    {% assign startsWith = page.path | slice: 0, 5 %}
    {% include header.html %}
    {% seo %}
  </head>
<body class="is-fullwidth has-background-dark">
  <section class="container">
    {% include menu.html active=page.path activeExtra=startsWith %}
    <div class="box">
      {% comment %}A single post does need a wrapper{% endcomment %}
      {% if startsWith == "_post" or ampStartsWith == "/post/" %}
      <div class="content">
      {{ content }}
      </div>
      {% else %}
      {{ content }}
      {% endif %}
    </div>
    {% include footer.html %}
</section>
</body>
</html>
