<!doctype html>
<html>
  <head>
    {% assign startsWith = page.path | slice: 0, 5 %}
    {% include header.html %}
    {% if page.path == "cv.html" %}
    <script type="text/javascript" src="/assets/jqcloud.min.js"></script>
    <link rel="stylesheet" href="/assets/vertical-timeline.css" />
    <link rel="stylesheet" href="/assets/jqcloud.min.css" />
    <style type="text/css">
      @media print {
        body * { visibility: hidden; }
        #printable .active.tab, #printable .active.tab * { visibility: visible; border: none; }
        #printable .active.tab { position: absolute; left: 0; top: 0; }
      }
    </style>
    {% endif %}
    {% if startsWith == "_post" %}
    <link rel="stylesheet" href="/assets/syntax.css" />
    {% endif %}
  </head>
<body>
  <div class="ui inverted vertical segment">
    {% include menu.html active=page.path activeExtra=startsWith %}

    {% comment %}A single post does need a wrapper{% endcomment %}
    {% if startsWith == "_post" %}
    <div class="ui tertiary very padded container segment">
    {{ content }}
    </div>
    {% else %}
    {{ content }}
    {% endif %}

    {% include footer.html %}

  </div>
</body>
</html>
